@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  .section {
    padding: 40px 5%;
  }
  #home {
    flex-direction: column;
    text-align: center;
  }
  .home-text {
    padding-right: 0;
    margin-bottom: 20px;
  }
  #skills .skills-content {
    flex-direction: column;
  }
  #skills .slick-line {
    display: none;
  }
  #projects .project-container,
  #education .education-container,
  #contact .contact-container {
    flex-direction: column;
  }
}
