@media (max-width: 600px) {
  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    background: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--primary);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--shadow);
  }

  .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .header nav {
    display: flex;
    align-items: center;
    margin: 0 2rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }

  .nav-links.hidden {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .nav-links a:hover,
  .nav-links a.active {
    color: var(--accent);
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .hamburger i {
    font-size: 1.5rem;
    color: #fff;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .header {
      padding: 0.5rem;
    }

    .header .logo {
      font-size: 1.2rem;
    }

    .hamburger i {
      font-size: 1.2rem;
    }

    .nav-links.show {
      padding: 0.5rem;
    }
  }

  /* Hero Section */
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--primary);
    color: var(--text);
    margin-top: 2.5rem;
  }

  .hero-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .hero-right > img {
    max-height: 200px;
    border-radius: 12px;
    filter: saturate(0);
  }

  .social-links {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
  }

  .fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 6px;
    transition: all 0.5s ease;
    color: #00b140;
  }

  .fa-brands:hover {
    rotate: 360deg;
    scale: 1.2;
    color: #fff;
  }

  .hero-left {
    text-align: center;
  }

  .hero-left h2 {
    font-size: 1.2em;
    text-transform: capitalize;
    color: var(--accent);
    margin-bottom: 10px;
  }

  .hero-left h1 {
    line-height: 1.2;
    font-size: 2em;
    margin-bottom: 15px;
  }

  .hero-left h4 {
    font-size: 1em;
    color: var(--accent);
    margin-bottom: 20px;
  }

  .hello {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: transparent;
    color: var(--accent);
    border: 1px solid var(--text);
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .hello:hover {
    background-color: var(--accent);
    color: var(--text);
    font-weight: 700;
    transform: translateY(-2px);
  }

  /* Cards Section */
  .cards {
    background-color: var(--card);
    color: var(--primary);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    cursor: default;
    min-height: 60svh;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 215px;
    min-height: 300px;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card i {
    color: var(--accent);
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .card p {
    color: #4d4d5c;
    line-height: 1.6;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  /* About Me Section */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
  }

  .cardAbout {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .cardAbout:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .left {
    flex: 1;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .profile-img {
    width: 80%;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }

  .profile-img:hover {
    transform: scale(1.05);
  }

  .download {
    position: absolute;
    bottom: 20px;
    background-color: var(--accent);
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0.2rem;
  }

  .download:hover {
    background-color: darken(var(--accent), 10%);
    transform: translateY(-2px);
  }

  .right {
    flex: 2;
    padding: 20px;
    color: #333;
  }

  .right h2 {
    color: #00b140;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .right h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .right p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .right ul {
    list-style: none;
    padding: 0;
  }

  .right ul li {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .signature {
    margin-top: 20px;
    font-style: italic;
    color: #00b140;
  }

  .signature span {
    display: block;
    font-size: 12px;
    color: gray;
  }

  /* Fun Facts Section */
  .fun-facts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1e1e2f;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .content h3 {
    color: #00b140;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.8;
    color: #bbb;
  }

  .facts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 100%;
  }

  .fact {
    background-color: #292939;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
  }

  .fact:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .fact h2 {
    color: #00b140;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .fact p {
    font-size: 14px;
    color: #bbb;
  }

  /* Skills Section */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .skills-content {
    max-width: 100%;
    text-align: center;
  }

  .skills-content h3 {
    color: #00b140;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .skills-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .skills-content p {
    font-size: 14px;
    line-height: 1.8;
    color: #666;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjusted to 2 columns for smaller screens */
    gap: 20px;
    max-width: 100%;
  }

  .skill {
    text-align: center;
  }

  .circle {
    width: 100px; /* Smaller circle for mobile */
    height: 100px;
    border: 6px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    transition: all 0.3s ease;
  }

  .circle > span {
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle[data-progress="80%"] {
    background: conic-gradient(#00b140 0% 80%, #e0e0e0 80% 100%);
  }

  .circle[data-progress="95%"] {
    background: conic-gradient(#00b140 0% 95%, #e0e0e0 95% 100%);
  }

  .circle[data-progress="90%"] {
    background: conic-gradient(#00b140 0% 90%, #e0e0e0 90% 100%);
  }

  .circle[data-progress="75%"] {
    background: conic-gradient(#00b140 0% 75%, #e0e0e0 75% 100%);
  }

  .circle[data-progress="60%"] {
    background: conic-gradient(#00b140 0% 60%, #e0e0e0 60% 100%);
  }

  .circle[data-progress="85%"] {
    background: conic-gradient(#00b140 0% 85%, #e0e0e0 85% 100%);
  }

  .skill p {
    font-size: 14px;
    color: #333;
    font-family: Fira Code;
  }

  /* Footer Styling */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: column; /* Stack columns vertically on small screens */
    gap: 20px;
  }

  .footer-column {
    flex: 1;
    min-width: 100%; /* Full width for small screens */
    text-align: center;
  }

  .footer-logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00b140;
  }

  .footer-description {
    font-size: 14px;
    line-height: 1.8;
    color: #ccc;
  }

  /* Newsletter Form */
  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    outline: none;
  }

  .newsletter-input::placeholder {
    color: #ccc;
  }

  .newsletter-button {
    padding: 10px;
    background-color: #00b140;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .newsletter-button:hover {
    background-color: #008a33;
    transform: translateY(-2px);
  }

  /* Social Icons */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .social-link {
    font-size: 18px;
    color: #ccc;
    transition: color 0.3s;
  }

  .social-link:hover {
    color: #00b140;
    transform: translateY(-2px);
  }

  /* Footer Heading */
  .footer-heading {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }

  /* General Media Queries for 600px and below */
  @media (max-width: 600px) {
    .hero-left h1 {
      font-size: 1.8em; /* Smaller font size for hero heading */
    }

    .hero-left h4 {
      font-size: 0.9em; /* Smaller font size for subheading */
    }

    .hero-right > img {
      max-height: 250px; /* Smaller image for mobile */
    }

    .cards {
      padding: 1rem; /* Reduced padding for cards section */
    }

    .card {
      width: 100%; /* Full width for cards on small screens */
      max-width: none;
    }

    .card i {
      font-size: 2rem; /* Smaller icon size */
    }

    .card p {
      font-size: 12px; /* Smaller text for cards */
    }

    .fun-facts-section {
      padding: 20px 10px; /* Reduced padding */
    }

    .fact h2 {
      font-size: 20px; /* Smaller font size for facts */
    }

    .fact p {
      font-size: 12px; /* Smaller text for facts */
    }

    .skills-section {
      padding: 20px 10px; /* Reduced padding */
    }

    .skills-grid {
      grid-template-columns: repeat(
        1,
        1fr
      ); /* Single column for skills on mobile */
    }

    .circle {
      width: 80px; /* Smaller circle for mobile */
      height: 80px;
    }

    .circle > span {
      width: 70px;
      height: 70px;
    }

    .footer {
      padding: 20px 10px; /* Reduced padding */
    }

    .footer-logo {
      font-size: 18px; /* Smaller logo size */
    }

    .footer-description {
      font-size: 12px; /* Smaller text for footer description */
    }

    .newsletter-input {
      padding: 8px; /* Smaller input padding */
    }

    .newsletter-button {
      padding: 8px; /* Smaller button padding */
    }

    .social-link {
      font-size: 16px; /* Smaller social icons */
    }
  }
}
