@media (max-width: 768px) {
  /* Hero Section */
  body {
    overflow-x: hidden;
  }
  .hero {
    margin-top: 4rem;
    flex-direction: row;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  .hero-left h1 {
    font-size: 2em;
  }
  .hero-left h2 {
    font-size: 1.2em;
  }
  .hero-left h4 {
    font-size: 1em;
  }
  .hero-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .social-links {
    display: flex;
    flex-direction: row;
  }
  .hello {
    margin: 0.5rem;
  }
  .hero-right > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
